{% extends "base.tmpl" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<main class="content">
    <article class="post">
        <header class="post-header">
            <div class="post-meta">
                {{ date|format_date }}
            </div>
            <h1 class="post-title">{{ title }}</h1>
            <p class="post-excerpt">{{ excerpt }}</p>
        </header>
        <div class="post-content">
            {{ content | safe }}
        </div>
    </article>
</main>
{% endblock %} 